X:assets/filePath/wall.path:wall
P:assets/filePath/pacman.path:player
a:assets/filePath/letter/A.path:menu
b:assets/filePath/letter/B.path:menu
c:assets/filePath/letter/C.path:menu
d:assets/filePath/letter/D.path:menu
e:assets/filePath/letter/E.path:menu
f:assets/filePath/letter/F.path:menu
g:assets/filePath/letter/G.path:menu
h:assets/filePath/letter/H.path:menu
i:assets/filePath/letter/I.path:menu
j:assets/filePath/letter/J.path:menu
k:assets/filePath/letter/K.path:menu
l:assets/filePath/letter/L.path:menu
m:assets/filePath/letter/M.path:menu
n:assets/filePath/letter/N.path:menu
o:assets/filePath/letter/O.path:menu
p:assets/filePath/letter/P.path:menu
q:assets/filePath/letter/Q.path:menu
r:assets/filePath/letter/R.path:menu
s:assets/filePath/letter/S.path:menu
t:assets/filePath/letter/T.path:menu
u:assets/filePath/letter/U.path:menu
v:assets/filePath/letter/V.path:menu
w:assets/filePath/letter/W.path:menu
x:assets/filePath/letter/X.path:menu
y:assets/filePath/letter/Y.path:menu
z:assets/filePath/letter/Z.path:menu
=:assets/filePath/letter/equal.path:menu
